[program:{{ project_name }}_uwsgi]
user = www-data
directory = {{ project_dir }}
command = {{ env_dir}}/bin/uwsgi --ini {{ site_dir }}/uwsgi/uwsgi.ini
autostart = true
autorestart = true
stderr_logfile = {{ site_dir }}/logs/uwsgi-err.log
stdout_logfile = {{ site_dir }}/logs/uwsgi-out.log
stopsignal = QUIT