server {
    listen 80;
    client_max_body_size 15M;
    server_name {{ domen }} www.{{ domen }};
    if ($http_host != '{{ domen }}' ) {
        rewrite ^/(.*)$  http://{{ domen }}/$1  permanent;
    }
    access_log  {{ site_dir }}/logs/access.log;
    error_log   {{ site_dir }}/logs/error.log;
    keepalive_timeout 5;

    location /static/ {
        alias {{ site_dir }}/static_root/;
        expires 30d;
    }

    location /media/ {
        alias {{ site_dir }}/media_root/;
        expires 30d;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix://{{ site_dir }}/uwsgi/socket;
    }
}
